<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
<link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Exercise 2</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
    <a class="navbar-brand" href="#">Todo Web Application</a>
</nav>

<br>
<div class="container center">
    <br>
    <form action="#" th:action="@{/save}" th:object="${todo}" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Enter Title Here">

        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" th:field="*{description}" id="description" rows="3" placeholder="Enter Description Here"></textarea>
        </div>

        <div class="form-group">
            <div class="input-group-prepend">
                <div>
                    <label for="title">Done</label> &nbsp;
                    <input type="checkbox" th:field="*{done}">
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="#"> <button type="submit" class="btn btn-primary">Back To Home Page</button></a>
    </form>
</div>
</body>
</html>